/* This being a small project with not that much styling,
it was decided to use a single css file  */

.main-header {
  margin: 32px;
  display: flex;
  justify-content: center;
}

.main-body {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    h1 {
      display: flex;
      justify-content: center;
      align-self: center;
      color: coral;
      width: 100%;
    }

    .paragraph {
      font-size: 1.5em;
    }

    input {
      background-color: lightblue !important;
    }
  }

  .current-page-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .navigation-bar {
    display: flex;
    margin-top: 64px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .MuiSlider-root {
      margin: unset;
    }
  }
}

.paragraph {
  margin-top: 32px;
  text-align: center;

  .bold-text {
    font-weight: bold;
    color: coral;
  }
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.avatar {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: bisque;

  a {
    color: coral;
  }
}

.space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 32px;

  div {
    display: flex;
    align-items: center;
  }
}

.page-header {
  font-size: 2rem;
  color: coral;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

input[type="text"] {
  background-color: lightblue !important;
}

input:-webkit-autofill {
  background-color: lightblue !important;
  -webkit-box-shadow: 0 0 0px 1000px lightblue inset !important;
  box-shadow: 0 0 0px 1000px lightblue inset !important;
  color: inherit !important;
}

.right-align {
  width: 100%;
  text-align: right;
}

.margin-bottom {
  margin-bottom: 16px;
}
