/* This being a small project with not that much styling,
it was decided to use a single css file  */

.main-header {
  margin: 32px;
  display: flex;
  justify-content: center;
}

.main-body {
  max-width: 1200px; /* Prevents excessive stretching on large screens */
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  .welcome {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    align-self: center;

    h1 {
      display: flex;
      justify-content: center;
      align-self: center;
      color: coral;
      width: 100%;
      margin-top: 2em;
    }

    .enum {
      display: flex;
      flex-direction: column;
      gap: 1em;

      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
      }
    }

    .paragraph {
      font-size: 1.5em;
    }

    input {
      background-color: lightblue !important;
    }
  }

  .current-page-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .navigation-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
    align-items: center;

    .MuiSlider-root {
      margin: unset;
    }
  }
}

.paragraph {
  margin-top: 32px;
  text-align: center;

  .bold-text {
    font-weight: bold;
    color: coral;
  }
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.avatar {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: bisque;

  a {
    color: coral;
  }
}

.space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 32px;

  div {
    display: flex;
    align-items: center;
  }
}

.page-header {
  font-size: 2rem;
  color: coral;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

input[type="text"] {
  background-color: lightblue !important;
}

input:-webkit-autofill {
  background-color: lightblue !important;
  -webkit-box-shadow: 0 0 0px 1000px lightblue inset !important;
  box-shadow: 0 0 0px 1000px lightblue inset !important;
  color: inherit !important;
}

.right-align {
  width: 100%;
  text-align: right;
}

.margin-bottom {
  margin-bottom: 16px;
}

.disclaimer {
  font-size: 1rem !important;
  text-align: justify;
}

.phone-vert-others-hor {
  flex-direction: row;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .paragraph {
    font-size: 1.2em;
  }
  .navigation-bar {
    gap: 16px;
    > button {
      width: 100%;
    }
  }
  .phone-vertical-orientation {
    flex-direction: column;
    gap: 16px !important;
  }
  .phone-vert-others-hor {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
  .phone-full-width {
    width: 100%;
  }
  .page-header {
    font-size: 1.5rem;
  }
}
